.topBar {
    overflow: hidden;
    background-color: #4B074F;
}
.topBar a{
    display: inline-block;
    color: #F2D100;
    text-align: center;
    padding: 14px 16px;
    font-size: 28px;
}
.topBar a:hover{
    background-color: #b72cbe;
}