@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.container{
    width: 100%;
}
.topBar {
    overflow: hidden;
    background-color: #4B074F;
    float: right;
    margin: 0%;
    border: 0%;
    padding: 0%;
    width: 100%;
}
.topBar a{
    display: inline-block;
    margin: auto;
    color: #F2D100;
    text-align: center;
    padding: 14px 100px;
    font-size: 28px;
    font-family: 'Shippori Antique', sans-serif;
}
.topBar a:hover{
    color: #b72cbe;
}
.topBarDropBtn {
    background-color: #4B074F;
    color: #F2D100;
    padding: 14px 100px;
    font-size: 28px;
    border: none;
}
.topBarDrop {
    position: relative;
    float: left;
    margin: 0%;
    text-align: center;
}
.topBarDrop-Content {
    display: none;
    position: absolute;
    background-color: #4B074F;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;    
}
.topBarDrop-Content a{
    color: #F2D100;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Shippori Antique', sans-serif;
    font-size: 24px;
}
.topBarDrop-Content a:hover {
    background-color: #b72cbe;
}
.topBarDrop:hover .topBarDrop-Content {
    display: block;
}
.topBarDrop:hover .topBarDropBtn {
    color: #b72cbe;
}